.experience{
  padding: 5px 0;

  &__title{
    color: #3c3b3b;
    font-family: "Raleway",Helvetica,sans-serif;
    font-weight: 800;
    letter-spacing: .1em;
    line-height: 1.65;
    margin: 0 0 0.5em 0;
    font-size: 0.8em;
    text-transform: uppercase;
  }

  &__duration{
    color: rgb(100, 100, 100);
    font-family: "Raleway",Helvetica,sans-serif;
    font-size: 0.7em;
    font-weight: 400;
    letter-spacing: .25em;
    line-height: 2.5;
    margin-top: -1em;
    text-transform: uppercase;
    font-style: italic;
  }

  &__detail{
    color: rgb(100, 100, 100);
    margin: 0;
    padding: 0;
    font-size: .9em;
  }
}

